<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBzmXGFeFL6P6tQompeTH7QE9ui7IamjbY</string>
	<key>GCM_SENDER_ID</key>
	<string>708789700582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.cityGuideTour</string>
	<key>PROJECT_ID</key>
	<string>city-guide-6eda9</string>
	<key>STORAGE_BUCKET</key>
	<string>city-guide-6eda9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:708789700582:ios:17f1394f25079c5c38b827</string>
</dict>
</plist>